@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	ul {
		@apply list-disc;
	}
	ol {
		@apply list-decimal;
	}
	td,
	tr {
		@apply border-neutral-300 p-3 border-[1px];
	}
}

@font-face {
	font-family: Europa;
	src: url("../fonts/Europa.ttf");
}

@font-face {
	font-family: Europa-Bold;
	src: url("../fonts/Europa-Bold.ttf");
}

@font-face {
	font-family: Sansita;
	src: url("../fonts/Sansita.ttf");
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/Roboto.ttf");
}
